.card1 {
    width: auto;
    height: 30px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

/* for all social containers*/
.socialContainer {
    width: 30px;
    height: 30px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
    padding: 5px;
}
/* instagram*/
.containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
}
/* twitter*/
.containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
}
/* linkdin*/
.containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
}

.socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
}

.socialSvg {
    width: 17px;
}

    .socialSvg path {
        fill: rgb(255, 255, 255);
    }

.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


