<div class="header">
    <div class="header-inner container ">
        <div class="pull-left">
            <a id="side-panel-trigger" class="mobileHamburgerBtn navbar-btn menu-trigger" onclick="toggleHamburgerMenu()"><span class="bar"></span><span class="bar"></span><span class="bar"></span></a><a class="navbar-brand" href="/Home/Index"><img style="width: 50px; height: auto" src="~/Images/logo.png" alt="MyELT"></a><div class="row side-panel hide">

            </div>
        </div>
        <div class="pull-right header-right header-loggedin">
            <div class="slogan">
                <div class="dropdown userdropdown">
                    <span class="welcome-text" style="font-size: 17px">Xin Chào, Võ Hoàng Ân</span>
                </div>
            </div>
            <div class="">
                <div class="logoutDiv">
                    <button style="font-size: 15px" type="button" class="btn btn-danger"> Đăng Xuất <i class="fas fa-sign-out-alt"></i></button>
                </div>
            </div>
            <div class="">
                <div class="logoutDiv">
                    <button style="font-size: 15px" type="button" class="btn btn-success">Đăng Nhập <i class="fas fa-sign-out-alt"></i></button>
                </div>
            </div>
            <div class="">
                <div class="logoutDiv">
                    <button style="font-size: 15px" type="button" class="btn btn-primary">Đăng Ký <i class="fas fa-sign-out-alt"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

